# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Other (Robin rör i grytan)
*.vcxproj
*.filters
*.user
*.sdf
*.sln
*.exe
*.suo
*.opensdf
*.sdf
Dependencies/
WorkingDir/AssemblyFiles
WorkingDir/Bin
FlyGameProjects/ipch
