# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Other (Robin rör i grytan)
*.filters
*.user
*.sdf
*.exe
*.suo
*.opensdf
*.sdf

#C-sharp
*.config
*.manifest

Dependencies/
WorkingDir/AssemblyFiles
WorkingDir/Bin

#C-sharp
WorkingDir/Assembly
FlyGameProjects/ipch
FlyGameProjects/FlyEditUI/obj
FlyGameProjects/FlyEditUI/Properties
