# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Other (Robin rör i grytan)
*.filters
*.user
*.sdf
*.exe
*.suo
*.opensdf
*.sdf
*.manifest

Dependencies/
WorkingDir/AssemblyFiles
WorkingDir/Bin

FlyGameProjects/ipch
FlyGameProjects/FlyEditUI/obj
FlyGameProjects/FlyWindEditor/obj
